// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "~/bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
$navbar-color:#3c3e42;







/* universal */

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    /* 用户可以调整元素的高度 */
    resize: vertical;
}

.jumbotron {
    text-align: center; //text-align: left;
    //color:red;
}








/* typography 排版 */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* 设置行高和字体大小一样 */
    line-height: 1;
}

h1 {
    font-size: 3em;
    /* 字符间距 */
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}








/* header */

.navbar-inverse {
    background-color: $navbar-color;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
        color: #fff;
    }
}








/* footer */

$footer_img_size:17px;
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    /*color:#eaeaea;*/
    color: #777;
    a {
        color: #555;
        line-height: $footer_img_size;
        &:hover {
            color: #222;
        }
    }

    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
    img.brand-icon {
        width: $footer_img_size;
        height: $footer_img_size;
    }
    .slogon {
        float: left;
        font-size: 13px;
        font-weight: bold;
        * {
            vertical-align: middle;
        }
    }
}




/* user_info 局部页面 */

section.user_info {
    text-align: center;
}

.gravatar {
    max-width: 70px;
    border-radius: 50%;
}

/* forms */

.panel {
    margin-top: 50px;
}

a.user-info{
    text-decoration: none;
}

